<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>Listener.AppHttpSessionListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>Servlet.LoginCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Disconnect</servlet-name>
        <servlet-class>Servlet.Disconnect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Disconnect</servlet-name>
        <url-pattern>/Disconnect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListingTraverseesServlet</servlet-name>
        <servlet-class>Servlet.ListingTraverseesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListingTraverseesServlet</servlet-name>
        <url-pattern>/ListingTraverseesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjoutPanier</servlet-name>
        <servlet-class>Servlet.AjoutPanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutPanier</servlet-name>
        <url-pattern>/AjoutPanier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListingTraverseesPanier</servlet-name>
        <servlet-class>Servlet.ListingTraverseesPanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListingTraverseesPanier</servlet-name>
        <url-pattern>/ListingTraverseesPanier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemovePanier</servlet-name>
        <servlet-class>Servlet.RemovePanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemovePanier</servlet-name>
        <url-pattern>/RemovePanier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Servlet.Payment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
</web-app>
